<head>
    <meta charset="utf-8" />
    <!-- Linking to global.css and nickStyle.css using Flask's url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='content/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='content/nickStyle.css') }}">
</head>

<div style="width: 100%; height: 100%; position: relative; background: white">

    <!-- Top Banner -->
    <div style="width: 1440px; height: 140px; left: 0px; top: 0px; position: absolute; background: #FFCD00"></div>
    <div style="width: 270px; height: 2411px; left: 0px; top: 140px; position: absolute; background: #F0F0F0"></div>
    <div style="width: 270px; height: 144px; left: 0px; top: -4px; position: absolute; background: black"></div>

    <!-- Iowa Link -->
    <a href="{{ url_for('index') }}" style="left: 34px; top: 0px; position: absolute; color: #FFCD00; font-size: 96px; font-family: Antonio; font-weight: 700; text-decoration: underline;">
        Lab 3
    </a>

    <!-- Profile Picture -->
    <img style="width: 221px; height: 221px; left: 1111px; top: 216px; position: absolute; background: linear-gradient(0deg, white 0%, white 100%); border-radius: 9999px; border: 4px black solid" src="SeniorDesignLab3/static/img/alexHeadShot.JPG" />

    <!-- Logout/Login Button -->
    <div class="auth-button" style="position: absolute; right: 20px; top: 20px;">
        {% if session.get('logged_in') %}
        <a href="{{ url_for('logout') }}" style="font-family: 'Zilla Slab'; font-size: 24px; text-decoration: none; color: black; background: #F0F0F0; padding: 10px 20px; border-radius: 8px; border: 1px solid #757575;">
            Logout
        </a>
        {% else %}
        <a href="{{ url_for('login') }}" style="font-family: 'Zilla Slab'; font-size: 24px; text-decoration: none; color: black; background: #F0F0F0; padding: 10px 20px; border-radius: 8px; border: 1px solid #757575;">
            Login
        </a>
        {% endif %}
    </div>

    <!-- Name Section -->
    <div style="left: 300px; top: 166px; position: absolute; color: black; font-size: 64px; font-family: Zilla Slab; font-weight: 700; text-decoration: underline; word-wrap: break-word">Alex Viner</div>

    <!-- Title Section -->
    <div style="width: 700px; left: 300px; top: 242px; position: absolute; color: #545454; font-size: 36px; font-family: Zilla Slab; font-weight: 400; word-wrap: break-word">Undergrad Senior in Electrical (Computer) Engineering</div>

    <!-- Projects Header -->
    <div style="left: 300px; top: 483px; position: absolute; color: black; font-size: 48px; font-family: Zilla Slab; font-weight: 400; word-wrap: break-word">Projects</div>

    <!-- Team Members Sidebar -->
    <div style="left: 23px; top: 165px; position: absolute; color: black; font-size: 32px; font-family: Zilla Slab; font-weight: 500; text-decoration: underline; word-wrap: break-word">Team Members</div>

    <!-- Team Member Links -->
    <a href="{{ url_for('team_member', name='michael') }}" style="left: 29px; top: 420px; position: absolute; color: black; font-size: 24px; font-family: Zilla Slab; font-weight: 400; text-decoration: underline; word-wrap: break-word;">Michael West</a>
    <a href="{{ url_for('team_member', name='nick') }}" style="left: 29px; top: 228px; position: absolute; color: black; font-size: 24px; font-family: Zilla Slab; font-weight: 400; text-decoration: underline; word-wrap: break-word;">Nick Floyd</a>
    <a href="{{ url_for('team_member', name='robby') }}" style="left: 29px; top: 292px; position: absolute; color: black; font-size: 24px; font-family: Zilla Slab; font-weight: 400; text-decoration: underline; word-wrap: break-word;">Robby Modica</a>
    <a href="{{ url_for('team_member', name='alex') }}" style="left: 30px; top: 356px; position: absolute; color: black; font-size: 24px; font-family: Zilla Slab; font-weight: 400; text-decoration: underline; word-wrap: break-word;">Alex Viner</a>

    <!-- Contact Information -->
    <div style="left: 355px; top: 348px; position: absolute; color: #0D5D92; font-size: 24px; font-family: Roboto; font-weight: 300; text-decoration: underline; word-wrap: break-word">alexander-viner@uiowa.edu</div>
    <div style="width: 190px; height: 28px; padding-right: 1px; left: 360px; top: 405px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: #0D5D92; font-size: 24px; font-family: Roboto; font-weight: 300; text-decoration: underline; word-wrap: break-word">+1(319) 930-8672</div>
    </div>
</div>
<div style="width: 687px; height: 78px; left: 345px; top: 598px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Single-player dice game implemented using a JavaFX GUI where a user is given a target score to reach in a set amount of rolls.</div>
<div style="width: 687px; height: 78px; left: 345px; top: 729px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Graphical user interface used for calculating exchange rates between foreign currencies and USD.</div>
<div style="width: 679px; height: 78px; left: 345px; top: 873px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Compact receiver device using a digital filter that sends SMS text messages when the light transmission is interrupted, similar to a garage door receiver.</div>
<div style="width: 679px; height: 78px; left: 345px; top: 1054px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Web-interface used to track the historical data of digital temperature sensors. Box enclosure capable of rough handling conditions connected the sensors to ESP32 for transmission.</div>
<div style="width: 679px; height: 78px; left: 345px; top: 1240px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Developed temperature control system prototype using small CPU fan, real-time clock, and temperature sensor to emulate a smart thermostat device on an LCD display. </div>
<div style="width: 679px; height: 78px; left: 345px; top: 1441px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Analog-to-Digital and Digital-to-Analog converter system capable of sending data and receiving commands for voltage adjustments from a remote terminal.</div>
<img style="width: 348px; height: 211px; left: 1066px; top: 799px; position: absolute" src="https://via.placeholder.com/348x211" />
</div>
<div style="left: 34px; top: 0px; position: absolute; color: #FFCD00; font-size: 96px; font-family: Antonio; font-weight: 700; word-wrap: break-word">Lab 3<br /></div>
<div style="width: 100px; height: 100px; left: 102px; top: 34px; position: absolute"></div>
<div style="left: 312px; top: 554px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Single Player Dice Game</div>
<div style="left: 309px; top: 689px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 700; word-wrap: break-word">USD Exchange Computation GUI </div>
<div style="left: 312px; top: 1010px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Digital Thermometer Web-Interface</div>
<div style="left: 309px; top: 829px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Frequency Selective Digital Filter</div>
<div style="left: 312px; top: 1383px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Remotely Controllable ADC/DAC Logging System</div>
<div style="left: 312px; top: 1182px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Smart Temperature Control Prototype</div>
<div style="left: 355px; top: 348px; position: absolute; color: #0D5D92; font-size: 24px; font-family: Roboto; font-weight: 300; text-decoration: underline; word-wrap: break-word">alexander-viner@uiowa.edu</div>
<div style="width: 190px; height: 28px; padding-right: 1px; left: 360px; top: 405px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
    <div style="color: #0D5D92; font-size: 24px; font-family: Roboto; font-weight: 300; text-decoration: underline; word-wrap: break-word">+1(319) 930-8672</div>


    <!-- Contact Form -->
    <div class="contact-form">
        <h2>Contact Me</h2>
        <form action="{{ url_for('contact', name='alex') }}" method="POST">
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" cols="50" placeholder="Enter your message here..." required></textarea><br>
            <button type="submit">Send Message</button>
        </form>
    


