<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="banner-background"></div>
          <div class="home-link-background"></div>
          <p class="lab"><span class="text-wrapper">L</span> <span class="span">ab 3</span></p>
        </div>
        <div class="overlap-group">
          <div class="text-wrapper-2">Team Members</div>
          <div class="text-wrapper-3">Michael West</div>
          <div class="text-wrapper-4">Nick Floyd</div>
          <div class="text-wrapper-5">Robby Modica</div>
          <div class="text-wrapper-6">Alex Viner</div>
        </div>
        <img class="IMG" src="img/IMG-1784.png" />
        <div class="overlap-group-2">
          <div class="text-wrapper-7">Robby Modica</div>
          <p class="p">Undergrad Senior in Computer Science and Engineering</p>
        </div>
        <a href="mailto:robert-modica@uiowa.edu" target="_blank" rel="noopener noreferrer"
          ><div class="text-wrapper-8">robert-modica@uiowa.edu</div></a
        >
        <div class="element">
          <a href="tel:+1(847)212-2820" target="_blank" rel="noopener noreferrer"
            ><div class="element-2">+1(847) 212-2820</div></a
          >
        </div>
        <div class="text-wrapper-9">Projects</div>
        <img class="img" src="img/IMG-1722-1.png" />
        <div class="text-wrapper-10">Race Car Video Game</div>
        <div class="text-wrapper-11">Base Change GUI</div>
        <div class="text-wrapper-12">Digital Thermometer Web-Interface</div>
        <p class="text-wrapper-13">Infrared “Line of Sight” Detector</p>
        <p class="text-wrapper-14">LCD and GPU Cooling Fan</p>
        <div class="text-wrapper-15">Waveform DAC Synthesizer</div>
        <p class="text-wrapper-16">
          Single-player racing game implemented using a JavaFX where a user races around a track against computers.
        </p>
        <p class="text-wrapper-17">
          Graphical user interface used for changing the base of numbers from base 2 (binary) to base 32.
        </p>
        <p class="text-wrapper-18">
          Compact receiver device using a digital filter that sends SMS text messages when the light transmission is
          interrupted, similar to a garage door receiver.
        </p>
        <p class="text-wrapper-19">
          Web-interface used to track the historical data of digital temperature sensors. Box enclosure capable of rough
          handling conditions connected the sensors to ESP32 for transmission.
        </p>
        <p class="text-wrapper-20">
          Synthesizer that is controlled using a ultrasonic sensor, a DAC, and push buttons to generate sound based off
          selected waveforms.
        </p>
        <p class="text-wrapper-21">
          Cooling fan that uses pulse-width modulation and an rpg to control speed. LCD screen used to show duty cycle.
        </p>
        <img class="IMG-2" src="img/IMG-1792.png" />
      </div>
    </div>
  </body>
</html>
